.about-site {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__description {
    max-width: 460px;
  }

  &__title {
    margin: 80px 0 50px 0;
    max-width: 300px;

    @extend %title;
  }

  &__text {
    margin: 0 0 50px 0;

    @extend %text;
  }

  &__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    padding: 16px 10px;
    min-width: 180px;
    box-sizing: border-box;
    background: #24B47E;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
  }

  &__bike-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $primaryColor;
    margin: 167px 0 0;

    &:after {
      content: "";
      position: relative;
      display: inline-block;
      width: 132px;
      height: 2px;
      vertical-align: middle;
      background: #D7D4D4;
      margin-left: 30px;
    }
  }

  &__image {
    margin-top: 20px;
    width: 100%;
    max-width: 610px;
    max-height: 836px;
  }

  &__bike-fix {
    position: absolute;
    top: 392px;
    right: 370px;
    width: 100%;
    max-width: 340px;
    padding: 20px 50px;
    background: #F4F4F4;
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
    border-radius: 20px;
  }
}
