.form {
  &__send {
    position: relative;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $primaryColor;
    margin: 0 0 50px;
    max-width: 230px;
  }

  &__email {
    margin: 0 0 100px;
    border: 1px solid #c7c7c780;
    border-radius: 4px;
    padding: 11px 20px;
    background: none;
    min-width: 360px;
    box-sizing: border-box;
    opacity: .7;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: $primaryColor;

    &:focus {
      outline: 1px solid #C7C7C7;
    }

    &:hover{
      opacity: 1;
    }
  }

  &__submit {
    display: none;
    border: 0;
    background: 0;
    color: $primaryColor;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 22px;
    z-index: 2;
    padding: 0;

    &_active {
      display: block;
    }
  }
}
