.main {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;

  &__about-site {
    margin: 0 0 0 120px;
  }

  &__quot {
    margin: 120px 120px 0;
  }

  &__cover {
    margin: 120px 0 0 120px;
  }

  &__bicycles {
    margin: 120px 120px 0;
  }

  &__workout {
    margin: 210px 120px 120px;
  }
}
